################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/blu/.vs/blu
/.vs
/blu/blu/obj/Debug
