################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/blu/.vs/blu
/.vs
/blu/blu/obj/Debug
/blu/blu/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
